.vscode*/
*.o
*.elf
*.trace
*.nptr
*.xz
*.zst
ccout/
simout/
areaout/
.zed/
build/
tags
**/tags
perf.*
.github/
*.png
*.svg
*.jpeg
*.jpg
visual/plots/
CHANGELOG.md
area/__pycache__/
scripts/generated_sh/
**/__pycache__/
*.bak
